---
import Container from "@components/Container.astro";
import Pagination from "@components/post/Pagination.astro";
import PostList from "@components/post/PostList.astro";
import Layout from "@layouts/Layout.astro";
import { getAllCategory, getCategoryPosts, getTagPosts } from "@utils/post";
import type { PaginateFunction } from "astro";
import { PAGE_SIZE } from "src/consts";

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction;
}) {
  const categories = await getAllCategory();

  const flatPathsPromise = categories.map(async (category) => {
    const filteredPosts = await getCategoryPosts(category);
    return paginate(filteredPosts, {
      params: { category },
      props: { posts: filteredPosts },
      pageSize: PAGE_SIZE,
    });
  });

  const flatPaths = (await Promise.all(flatPathsPromise)).flatMap(
    (item) => item
  );

  return flatPaths;
}
const { page } = Astro.props;
const params = Astro.params;
---

<Layout>
  <section class="mx-4 md:mx-auto">
    <Container>
      <h1 class="text-slate-500 text-center text-4xl font-bold mt-6 mb-12">
        Category: {params.category}
      </h1>

      <PostList posts={page.data} />

      <div class="flex justify-between">
        {
          page.url.prev && (
            <Pagination type="prev" buttonLabel="PREV" url={page.url.prev} />
          )
        }
        {
          page.url.next && (
            <Pagination type="next" buttonLabel="NEXT" url={page.url.next} />
          )
        }
      </div>
    </Container>
  </section>
</Layout>
