---
import type { CollectionEntry } from "astro:content";
import PostCard from "./PostCard.astro";

interface Props {
  posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;
---

<ul class="grid grid-cols-1 md:grid-cols-1 gap-12">
  {
    posts.map((post) => (
      <>
        <PostCard post={post} />
        {/* <li> */}
        {/* <a href={`/${post.data.permalink}`}>
            <img
              width={720}
              height={360}
              src={post.data.photos?.[0] || ""}
              alt=""
            />
            <h4 class="title">{post.data.title}</h4>
            <p class="date">
              <FormattedDate date={post.data.date} />
            </p>
          </a> */}
        {/* </li> */}
      </>
    ))
  }
</ul>
